body {
  margin: 0;
  padding: 0;
  font-family: Arial;
  background: linear-gradient(135deg, #0077ff, #00c6ff);
  color: white;
  text-align: center;
}

.container {
  margin-top: 100px;
}

textarea {
  width: 300px;
  height: 120px;
  padding: 10px;
  border-radius: 10px;
  border: none;
  outline: none;
  font-size: 16px;
}

button {
  margin-top: 15px;
  padding: 10px 20px;
  border: none;
  border-radius: 10px;
  background: white;
  color: #0077ff;
  font-size: 16px;
  cursor: pointer;
}

button:hover {
  background: #ddd;
}
